/* Swift Reference */

/* Styles for use with headings and similar matter */

/* section numbering */
h2 {
    counter-reset: section;
}
h3 {
    counter-reset: subsection;
}
h3:before {
    content: counter(section) ". ";
    counter-increment: section;
}
h4 {
    counter-reset: subsubsection item; 
}
h4:before {
    content: counter(section) "." counter(subsection) " ";
    counter-increment: subsection;
}
h5 {
    counter-reset: item;
}
h5:before {
    content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
    counter-increment: subsubsection;
}

/* paragraph numbering in left margin */
.item {
    text-indent: -20px;
    margin-bottom: -2em;
    font-style: italic;
    font-size: 0.7em;
    color: blue;
}
.item:before {
    content: counter(item);
    counter-increment: item;
}