---
---
@import "{{ site.theme_name }}";
@import "grammar.css";
@import "headings.css";

ul.navigation {
    list-style-type: none;
    padding-inline-start: 0px;
}

.navigation ul {
    list-style-type: none;
    padding-inline-start: 20px;
}

a:hover {
    font-weight: inherit;
    text-decoration: underline;
}
